{{/*<!-- 

  Docs Layout
  ===========

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single

  LAYOUT: /layouts/docs/single.html
  DOCS:   /content/<language>/wiki/Help:Layout_Docs.md
  STYLE:  /assets/scss/layouts/_docs.scss

  Description
  -----------

  The single layout page for the docs.

  Changelog
  =========

  Version 1
  ---------

  Initial release

-->*/}}

{{ define "main" }}
  <div class="container">
    <div class="row flex-xl-nowrap gap-1">
      <div class="col-md-12 col-lg-2 col-xl-2 docs-sidebar{{ if ne .Site.Params.options.navbarSticky true }} docs-sidebar-top{{ end }} d-none d-lg-block">
        <nav {{ if eq .Site.Params.menu.section.collapsibleSidebar false }}id="sidebar-default" {{ end }}class="docs-links" aria-label="Main navigation">
          {{ partial "sidebar/docs-menu.html" . }}
        </nav>
      </div>
      {{ if ne .Params.toc false -}}
      <nav class="docs-toc{{ if ne .Site.Params.options.navbarSticky true }} docs-toc-top{{ end }} d-none d-xl-block col-xl-2" aria-label="Secondary navigation">
        {{ partial "sidebar/docs-toc.html" . }}
      </nav>
      {{ end -}}
      {{ if .Params.toc -}}
      <main class="docs-content col-md-12 col-lg-10 col-xl-8">
      {{ else -}}
      <main class="docs-content col-md-12 col-lg-10 col-xl-8 mx-xl-auto">
      {{ end -}}
        {{ if .Site.Params.options.breadCrumb -}}
          <!-- https://discourse.gohugo.io/t/breadcrumb-navigation-for-highly-nested-content/27359/6 -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {{ partial "main/breadcrumb" . -}}
              <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
            </ol>
          </nav>
        {{ end }}
        <h1>{{ .Title }}</h1>
        <p class="lead">{{ .Params.lead | safeHTML }}</p>
        {{ if ne .Params.toc false -}}
        <nav class="d-xl-none" aria-label="Quaternary navigation">
          {{ partial "sidebar/docs-toc.html" . }}
        </nav>
        {{ end -}}
        {{ .Content }}
        {{ partial "main/docs-navigation.html" . }}
      </main>
    </div>
  </div>
{{ end }}

