.mp-infobox-table {
  .mp-infobox {
    border: 1px solid $border-color;
    border-spacing: 3px;
    background-color: $body-bg;
    color: $body-color;
    margin: 0 0 0.5em 1em;
    padding: 0 0.2em 0.2em;
    float: right;
    clear: right;
    font-size: 85%;
    line-height: 1.5em;
    width: 22em;

    .mp-infobox-header,
    .mp-infobox-label,
    .mp-infobox-fulldata,
    .mp-infobox-subheader,
    .mp-infobox-image {
      vertical-align: top;
    }

    .mp-infobox-image,
    .mp-infobox-header,
    .mp-infobox-label,
    .mp-infobox-subheader,
    .mp-infobox-title,
    .mp-infobox-caption,
    caption {
      text-align: center;
      color: $body-color;
    }

    .mp-infobox-label {
      text-align: left;
    }

    .mp-infobox-header {
      background: $gray-200;
    }

    .mp-infobox-header,
    .mp-infobox-caption {
      line-height: normal;
      padding: 0.2em;
    }

    .mp-infobox-subheader {
      font-weight: bold;
    }

    .mp-infobox-title,
    caption {
      font-size: 125%;
      font-weight: bold;
      text-align: center;
      padding: 0.2em;
    }

    caption {
      caption-side: top;
      display: table-caption;
      text-align: -webkit-center;
    }
  }

  table > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: $border-color;

    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;

      tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }

      hr {
        border: none;
      }

      th {
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: -internal-center;
      }
    }
  }
}

[data-dark-mode] .mp-infobox-table {
  .mp-infobox {
    border-color: $border-dark;
    background-color: $body-bg-dark;
    color: $body-color-dark;

    .mp-infobox-header {
      background: $gray-800;
    }

    .mp-infobox-image,
    .mp-infobox-header,
    .mp-infobox-label,
    .mp-infobox-subheader,
    .mp-infobox-title,
    .mp-infobox-caption,
    caption {
      color: $body-color-dark;
    }
  }

  table {
    border-color: $border-dark;
  }
}
