/*

  Accordion Shortcode
  ===================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Child Shortcodes:
    - accordion_item (mandatory)
  Parent Shortcodes: None

  LAYOUT: /layouts/shortcodes/accordion.html
  STYLE:  /assets/scss/components/_shortcode_accordion.scss
  DOCS:   /content/<language>/wiki/Help:Shortcode_Accordion/index.md

*/

.accordion-header {
  margin-top: 0;
}

[data-dark-mode] .accordion {
  --#{$prefix}accordion-color: $body-bg-dark;
  --#{$prefix}accordion-border-color: #{$gray-800};
}

[data-dark-mode] .accordion-button {
  color: $gray-300;
  background-color: $body-bg-dark;
}

[data-dark-mode] .accordion-item {
  background-color: $border-dark;
}

[data-dark-mode] .accordion-body {
  table {
    --bs-table-bg: $gray-300;
    --#{$prefix}accordion-bg: #{$gray-300};
  }

  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: $gray-300;
  }
}

[data-dark-mode] .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239adafb'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

[data-dark-mode] .accordion-button:not(.collapsed) {
  color: #{$black};
  background-color: $focus-color-dark;
  box-shadow: inset 0 -1px 0 rgba(29, 45, 53, 0.125);
}

[data-dark-mode] .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

  /* transform: rotate(-180deg); */
}
