{{/* <!--

  Contributors Layout
  ===================

  Contributors: Michael Sasser
  Maintainer: Michael Sasser
  License: MIT
  Version: 1
  Type: Single

  LAYOUT: /layouts/contributors/single.html
  DOCS:   /content/<language>/wiki/Help:Layout_Contributors.md

  Description
  -----------

  The list layout page for the contributors.

  Changelog
  =========

  Version 1
  ---------

  Initial release

  -->
*/}}

{{ define "main" }}

  <!-- Store all posts this user made -->
  {{ $posts := newScratch }}

  {{ range $post := where .Site.RegularPages "Section" "blog" -}}

    <!--
         Compile a slice of posts written by that user in the $post scratch
         under the "posts" key.
    -->
    {{ range $contributor := $post.Params.contributors }}
      {{ if eq $contributor $.Title }}
        {{ $posts.Add "posts" (slice $post) }}
      {{ end }}
    {{ end }}
  {{ end }}


  <!-- Evaluate if a blog post section is added to the contributor page -->
  <!-- Only show posts, when the user is not a bot -->
  {{- $showBlogPosts := false -}}
  {{- if isset .Params "bot" -}}
    {{- if not .Params.bot -}}
      {{- $showBlogPosts = true -}}
    {{- end -}}
  {{- else -}}
    {{- $showBlogPosts = true -}}
  {{- end -}}
  <!-- In any case, if there are not posts, hide them -->
  {{ if not ($posts.Get "posts") }}
    {{- $showBlogPosts = false -}}
  {{- end -}}


  <!-- Contributor Card -->
  <section class="section section-sm container-fluid py-3">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col">
          <h1>{{- .Title -}}</h1>

          {{- if isset $.Params "pronouns" -}}
            <h2 class="text-secondary mt-0">({{- .Params.pronouns -}})</h2>
          {{- end -}}

          {{ $title := .Title }}

          {{ if isset .Params "avatar" }}
            <div class="mb-4">
              <img
                src="{{ .Params.avatar }}"
                alt="{{- .Title }} Avatar"
                width="256"
              />
            </div>
          {{- else -}}
            <!--
              If no avatar image was set, but the matrix_identifier was set, use
              that to display the avatar from matrix.org.
            -->
            {{- if isset .Params "matrix_identifier" -}}
              {{- $avatar := "" -}}
              {{ if isset $.Site.Data "matrix_users" }}
                {{- range $.Site.Data.matrix_users -}}
                  {{- if eq .userId $.Params.matrix_identifier -}}
                    {{- with .avatar -}}
                      {{- $avatar = . -}}
                    {{- end -}}
                  {{- end -}}
                {{- end -}}
              {{- end -}}
              {{- with $avatar -}}
                <div class="text-center mb-4">
                  <img
                    src="{{ printf "https://matrix.org/_matrix/media/r0/thumbnail/%s?width=64&height=64&method=scale" (substr  $avatar 6) }}"
                    alt="{{- $.Title }} Avatar"
                    width="256"
                  />
                </div>
              {{- end -}}
            {{ end }}
          {{ end }}


          <ul class="contributor-social">
            <!-- Matrix -->
            {{ if isset .Params "matrix_identifier" }}
              <li class="social-item">
                <a
                  href="https://app.element.io/#/user/{{- .Params.matrix_identifier -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-matrix-org fa-lg"></i>
                </a>
              </li>
            {{ end }}


            <!-- GitLab -->
            {{ if isset .Params "gitlab_username" }}
              <li class="social-item">
                <a
                  href="https://gitlab.com/{{- .Params.gitlab_username -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-gitlab fa-lg"></i>
                </a>
              </li>
            {{ end }}


            <!-- GitHub -->
            {{ if isset .Params "github_username" }}
              <li class="social-item">
                <a
                  href="https://github.com/{{- .Params.gitlab_username -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-github fa-lg"></i>
                </a>
              </li>
            {{ end }}


            <!-- Gitea -->
            {{ if isset .Params "gitea_profile_url" }}
              <li class="social-item">
                <a
                  href="{{- .Params.gitea_profile_url -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-gitea fa-lg"></i>
                </a>
              </li>
            {{ end }}


            <!-- Mastodon -->
            {{ if isset .Params "mastodon_profile_url" }}
              <li class="social-item">
                <a
                  href="{{- .Params.mastodon_profile_url -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-mastodon fa-lg"></i>
                </a>
              </li>
            {{ end }}


            <!-- Email -->
            {{ if isset .Params "email_address" }}
              <li class="social-item">
                <a
                  href="mailto://{{- .Params.email_address -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-at fa-lg"></i>
                </a>
              </li>
            {{ end }}


            <!-- Website -->
            {{ if isset .Params "website_url" }}
              <li class="social-item">
                <a
                  href="{{- .Params.website_url -}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-globe fa-lg"></i>
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Content -->
  <section class="section section-sm pt-4 bg-light container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <!-- Lead -->
          {{ if isset .Params "lead" }}
            <p class="lead" style="text-align: center">
              {{ .Params.lead | safeHTML }}
            </p>
          {{ else }}
            {{ if eq .Params.matrix_moderator true }}
              <p class="lead" style="text-align: center">
                {{- i18n "hi-im" }} {{ .Params.title }},
                {{ i18n "a-member-of-the-moderation-team" -}}.
              </p>
            {{ else if eq .Params.website_contributor true }}
              <p class="lead" style="text-align: center">
                {{- i18n "hi-im" }} {{ .Params.title }},
                {{ i18n "a-contributor-to-this-project" -}}.
              </p>
            {{ end }}
          {{ end }}
          <div>{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>

  <!-- Blog Posts -->
  {{- if $showBlogPosts -}}
    <section class="section section-sm pt-4 container-fluid">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-10">
            <h2 class="h3 mt-3 mb-5 text-center">
              {{- i18n "my-latest-blog-posts" -}}
            </h2>
            <div class="card-list">
              <div class="row ">
                {{ range first 6 ($posts.Get "posts") -}}
                  <div class="col-lg-6 col-md-12">
                    {{ partial "main/blog-post-list-layout.html" . -}}
                  </div>
                {{ end -}}
              </div>
            </div>
          </div>
          <!-- Pagination -->
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
